<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">

        <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-sm text-center">
                        <div class="col-xs-4">
                            <div class="panel padder-v item"
                                 ng-style="{backgroundColor: alarmIsActive && '#f05050' || '#27c24c'}">
                                <div class="h1 text-white font-thin risp-font-size show-system-state">{{alarmIsActive ?
                                    'Armed' : 'Disarmed'}}
                                </div>
                                <div class="h1 text-white font-thin risp-font-size show-locker"><i
                                        ng-class="(alarmIsActive) ? 'icon-lock' : 'icon-lock-open'"></i></div>
                                <span class="text-white text-xs">System State</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a ui-sref="app.sensors.conf" class="block panel padder-v bg-primary item">
                                <span class="text-white font-thin h1 block">
                                    {{sensorOverview.total}} <span class="resp-dashboard-btn">Sensors</span>
                                </span>
                                <span class="text-muted text-xs">{{sensorOverview.enabled}} / {{sensorOverview.total}} Enabled</span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a ui-sref="app.zones.conf" class="block panel padder-v bg-info item">
                                <span class="text-white font-thin h1 block">
                                    {{zoneOverview.total}} <span class="resp-dashboard-btn">Zones</span>
                                </span>
                                <span class="text-muted text-xs">{{zoneOverview.enabled}} / {{zoneOverview.total}} Enabled</span>
                            </a>
                        </div>

                    </div>
                    <div class="row row-sm text-center">
                        <div class="col-xs-4 show-system-state"></div>

                        <div class="col-xs-4 show-full-width"
                             ng-click="alarmIsActive ? launchDisarmKeyboard(): armSystem()">
                            <div class="block panel padder-v btn btn-danger ng-untouched ng-valid ng-dirty"
                                 ng-class="(alarmIsActive) ? 'ng-valid-parse active' : ''">
                                <span class="font-thin h1 block">
                                    <span>{{alarmIsActive ? 'Disarm' : 'Arm'}}</span>
                                </span>
                                <span class="text-white text-xs">Click to {{alarmIsActive ? 'disarm' : 'arm'}}</span>
                            </div>
                        </div>
                        <div class="col-xs-4 show-system-state"></div>
                    </div>
                </div>
            </div>


            <!-- zones table -->
            <div class="row">
                <div class="col-xs-4">
                    <div class="bg-light lter b-b wrapper-md ng-scope">
                        <h1 class="m-n font-thin h3">Zones</h1>
                    </div>
                    <div class="table-responsive">
                        <perfect-scrollbar class="dashboardScroller">
                            <table class="table table-striped b-t b-b"><!-- ui-jq="dataTable" ui-refresh="true"  -->
                                <thead>
                                <tr>
                                    <th style="width:20%"></th>
                                    <th style="width:50%">Name</th>
                                    <th style="width:30%">Enabled</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="z in zones">
                                    <td>
                                        <div class="doony-circle doony-circle-failure"
                                             ng-show="eventsInZone[z.oid]"></div>
                                        <div class="doony-circle doony-circle-success"
                                             ng-show="!eventsInZone[z.oid]"></div>
                                    </td>
                                    <td>{{z.name}}</td>
                                    <td>
                                        <label class="i-switch bg-primary m-t-xs m-r"><!---->
                                            <input type="checkbox"
                                                   ng-model="z.status"
                                                   ng-true-value="'ENABLED'" ng-false-value="'DISABLED'"
                                                   ng-disabled="alarmIsActive"
                                                   ng-change="changeZoneStatus(z)">
                                            <i></i>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>

                <!-- sensors table -->
                <div class="col-xs-4">
                    <div class="bg-light lter b-b wrapper-md ng-scope">
                        <h1 class="m-n font-thin h3">Sensors</h1>
                    </div>
                    <div class="table-responsive">
                        <perfect-scrollbar class="dashboardScroller">
                            <table class="table table-striped b-t b-b">
                                <thead>
                                <tr>
                                    <th style="width:20%">Status</th>
                                    <th style="width:50%">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sStatus in sensorsStatus">
                                    <td>
                                        <div class="doony-circle doony-circle-failure"
                                             ng-show="sStatus.status==1"></div>
                                        <div class="doony-circle doony-circle-success"
                                             ng-show="sStatus.status==0"></div>
                                    </td>
                                    <td>{{sStatus.sensorName}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>

                <!-- timeline -->
                <div class="col-xs-4">
                    <div class="bg-light lter b-b wrapper-md ng-scope">
                        <h1 class="m-n font-thin h3">Latest Events</h1>
                    </div>
                    <perfect-scrollbar class="dashboardScroller">

                        <div class="hbox hbox-auto-xs hbox-auto-sm">
                            <div class="col">
                                <div class="wrapper">
                                    <ul class="timeline">

                                        <li class="tl-item" ng-repeat="timelineEvent in timelineEvents | orderBy:'-[0]'"
                                            ng-switch="timelineEvent[3]">

                                            <!-- Green background -->
                                            <div class="tl-wrap b-success" ng-switch-default>
                                                <span class="tl-date">  {{timelineEvent[0] | date:'HH:mm:ss'}} </span>

                                                <div class="tl-content panel bg-success padder">
                                                    <span class="arrow arrow-success left pull-up hidden-left"></span>
                                                    <span class="arrow arrow-success right pull-up visible-left"></span>

                                                    <div class="tl-content">
                                                        {{timelineEvent[1]}}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Red background-->
                                            <div class="tl-wrap b-danger" ng-switch-when="danger">
                                                <span class="tl-date">  {{timelineEvent[0] | date:'HH:mm:ss'}} </span>

                                                <div class="tl-content panel bg-danger padder">
                                                    <span class="arrow arrow-danger left pull-up hidden-left"></span>
                                                    <span class="arrow arrow-danger right pull-up visible-left"></span>

                                                    <div class="tl-content">
                                                        {{timelineEvent[1]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <!-- / timeline -->


            </div>
        </div>
    </div>
    <!-- / main -->
</div>
