<style>
    .red{
        color:#ff0000;
    }
</style>
<form name="form" class="form-validation" ng-submit="submit()">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-11">
                    <p class="text-muted">Please fill the information to continue</p>
                </div>
                <div class="col-xs-1">
                    <i class="icon-close" ng-click="cancel()"></i>
                </div>
            </div>
            <div class="form-group">
                <label>User Name <!--<em class="text-muted" ng-class="{red: error}">(Zones must have different names)</em>--></label>
                <input type="text" class="form-control" ng-model="newUser.name" required>
            </div>
            <div class="form-group">
                <label>User Email</label>
                <input type="email" class="form-control" ng-model="newUser.email" required>
            </div>
            <div class="form-group">
                <label>User Password</label>
                <input type="password" class="form-control" ng-model="newUser.webPassword" required>
            </div>
            <div class="form-group">
                <label>User Phones</label>
                <!--<input type="text" class="form-control" ng-model="editUser.phones" required>-->
                <input ui-jq="tagsinput" ng-model="newUser.phones" ui-options="" class="form-control" required/>
            </div>
            <div class="form-group">
                <label>User Alarm Password</label>
                <input type="password" class="form-control" ng-model="newUser.alarmPassword" required>
            </div>
            <div class="form-group">
                <label>Admin</label>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="i-switch i-switch-md bg-dark m-t-xs m-r">
                            <input type="checkbox" ng-model="newUser.isAdmin">
                            <i></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" panel-footer text-right bg-light lter">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Submit</button>
        </div>
    </div>
</form>