<style>
    .red{
        color:#ff0000;
    }
</style>

<form name="form" class="form-validation" ng-submit="submitEdit()">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-11">

                </div>
                <div class="col-xs-1">
                    <i class="icon-close" ng-click="cancelEdit()"></i>
                </div>
            </div>

            <div class="form-group">
                <label>User Name <!--<em class="text-muted" ng-class="{red: error}">(Zones must have different names)</em>--></label>
                <input type="text" class="form-control" ng-model="editUser.name" required>
            </div>
            <div class="form-group">
                <label>User Email</label>
                <input type="email" class="form-control" ng-model="editUser.email" required>
            </div>
            <div class="form-group">
                <label>User Web Password</label>
                <input type="password" class="form-control" ng-model="editUser.webPassword" required>
            </div>
            <div class="form-group">
                <label>User Alarm Password</label>
                <input type="password" class="form-control" ng-model="editUser.alarmPassword" required>
            </div>
            <div class="form-group">
                <label>Admin</label>
                <label class="i-switch bg-primary m-t-xs m-r"><!---->
                    <input type="checkbox"
                           ng-model="editUser.isAdmin">
                    <i></i>
                </label>
            </div>
        </div>
        <div class=" panel-footer text-right bg-light lter">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Submit</button>
        </div>
    </div>
</form>